*{
    font-family: Roboto;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.hero{
    background-color: #1F2937;
    color: #f9faf8;
}
.navbar{
    display: flex;
    padding: 20px 60px;
    
}
.header-bottom{
    display: flex;
    padding: 120px 60px;
    flex-flow: row;
    justify-content: space-between;
    column-gap: 50px;
}
.header-left{
    width: 50%;
    display: flex column;
    flex-flow: row wrap;
    align-self: center;

}
.header-right{
    width: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}
.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.secondary{
    display: flex;
    column-gap: 30px;
}
.header-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}
.header-logo-text{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: auto;
}
.button-header{
    background-color: #3882F6;
    border-radius: 5px;
    border: 0;
    color: #f9faf8;
    padding: 10px 20px;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 20px 20px 40px 20px;
}
.blocks{
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;
    justify-content: center;
}
.square{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;  
    row-gap: 10px;
}
.info-block{
    border: #3882F6;
    border-style: solid;
    border-radius: 20px;
    background-color: transparent;
    width: 140px;
    height: 140px;
    order: 1;
}
.info-text{
    width: 150px;
    height: 100px;
    order: 2;
    text-align: center;
    font-size: 16px;
}
.info{
    padding: 20px 10px 40px 10px;
}
.quote{
    background-color: #e5e7eb;
    margin: 0 auto;
    color: #1f2937;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 120px;
}
.quote p{
    font-style: italic;
    font-size: 36px;
}
.quote-name{
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

